.PaintingDetail {
    display: grid;
    padding: 1.25rem 1.5rem 0 1.5rem;
    grid-template-rows: 1fr auto;
    /*Sticky footer*/
    margin: 0 auto;
    min-height: 100vh;
    max-width: 578px;

    img {
        max-width: 100%;
    }

    >:first-child {
        display: grid;
    }

    .button-viewImage,
    .button-closeImage {
        position: absolute;
        margin: 1rem 0 0 1rem;
        padding: 0.875rem 1rem 0.875rem 1rem;
        background-color: var(--clr-900);
        color: var(--clr-100);
        filter: opacity(0.8);
        font-family: inherit;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 2.14px;

        img {
            margin-right: 14px;
        }
    }

    .title-container {
        margin-top: -20%;
        margin-bottom: -10%;
    }

    .title {
        background-color: var(--clr-100);
        padding: 1.5rem;
        width: 85%;
    }

    h1 {
        color: var(--clr-900);
        font-size: 24px;
        margin-bottom: 0.5rem;
    }

    h2 {
        color: var(--clr-700);
        font-size: 15px;
        font-weight: 400;
    }

    h3 {
        margin-top: 8px;
        line-height: 0.45;
        justify-self: self-end;
        color: var(--clr-200);
        font-size: 100px;
    }

    .img-artist {
        width: 4rem;
        margin-left: 1rem;
    }

    p {
        color: var(--clr-700);
        font-size: 14px;
        font-weight: 700;
        line-height: 1.75rem;
    }

    a {
        margin: 2.5rem 0 2.5rem 0;
        color: var(--clr-700);
        font-size: 9px;
        font-weight: 700;
        letter-spacing: 1.93px;
    }

    .modal {
        display: grid;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: hsl(0, 0%, 0%, 0.9);

        >div {
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            top: 0;
            margin-top: 20%;
        }

        .button-closeImage {
            align-self: flex-end;
            position: relative;
            margin: 0 10% 2rem 0;
            background: none;
            color: var(--clr-100);
            font-size: 14px;
            letter-spacing: 3px;
        }

        img {
            width: 80%;
        }
    }

    .modal.invisible {
        display: none;
    }

    @media screen and (min-width: 576px) {

        /*CAMBIAR LAS FOTOS DEL HERO*/

        .button-viewImage {
            position: relative;
            bottom: 3.75rem;
            max-width: fit-content;
            width: 50%;
            margin: 0 0 0 1rem;


            img {
                margin-right: 14px;
            }
        }

        .title-container {
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 50%;
            width: 35%;
            /* background-color: aqua; */
            margin-top: 0;
            margin-bottom: 0;
        }

        .img-artist {
            align-self: flex-end;
            margin-left: 0;

        }

        h3 {
            margin-top: 0;
            /*aaaaa*/
            line-height: 1;
            /*asdsf*/
            justify-self: self-start;
            font-size: 200px;
        }




    }
}