.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-400);
    padding: 1.25rem 0 1.25rem 0;
    margin-bottom: 1.25rem;

    .logo {
        width: 113px;
        height: 32px;
    }

    button {
        cursor: pointer;
        font-family: inherit;
        font-size: 9px;
        font-weight: 700;
        letter-spacing: 1.93px;
        border: none;
        background-color: var(--clr-100);
        color: var(--clr-700);
    }
}