.footer {

    progress {
        height: 1px;
        width: 100%;
        border-style: none;
        background-color: var(--clr-200);

        &::-webkit-progress-bar {
            background-color: var(--clr-900);
        }

        &::-moz-progress-bar {
            background-color: var(--clr-900);
        }
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0 1rem 0;

        >:first-child {
            max-width: 70%;
        }

        h4 {
            font-size: 14px;
        }

        h5 {
            color: var(--clr-700);
            margin-top: 0.5rem;
            font-weight: 400;
        }
    }

    button {
        margin-left: 1.5rem;
        width: 1rem;
        height: 1rem;
    }

    button:disabled {
        cursor: initial;
        filter: contrast(0);
    }

}