footer {
    progress {
        height: 1px;
        width: 100%;
        border-style: none;
        background-color: var(--clr-200);

        &::-webkit-progress-bar {
            background-color: var(--clr-900);
        }

        &::-moz-progress-bar {
            background-color: var(--clr-900);
        }
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button:disabled {
        cursor: initial;
        filter: contrast(0);
    }

    a {
        /* background-color: aqua; */
        
        &:first-of-type { 
            transform: translateX(-2.5rem);
        }
    }

    


}