*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
  font-family: 'Libre Baskerville', serif;
}

:root {
  --clr-100 : #FFFFFF;
  --clr-200: #F3F3F3;
  --clr-400: #E5E5E5;
  --clr-700: #7D7D7D;
  --clr-900: #000000;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}



.painting-container {
  columns: 1;
  column-gap: 2rem;
}

.painting-container > * {
  break-inside: avoid;
}

@media screen and (width >= 705px) {
  .painting-container {
    columns: 2;
  }
}

@media screen and (width >= 1070px) {
  .painting-container {
    columns: 3;
  }
}

@media screen and (width >= 1440px) {
  .painting-container {
    columns: 4;
  }
}

